.app-header {
  font-family: Livvic-Medium, sans-serif;
  color: $clr7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin: 73px 165px;

  .links-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 385px;

    img {
      width: 161px;
    }
    .navlinks-box {
      display: flex;

      .home-link,
      .about-link {
        text-decoration: none;
        color: inherit;
        margin-left: 41px;
        color: $clr7;
      }

      .home-link {
        margin-left: 81px;
      }

      .active {
        color: $clr2;
      }
    }
  }

  button {
    @include contact-btn
  }
}
