// Colors
$clr1: #014e56;
$clr2: #f67e7e;
$clr3: #2c6269;
$clr4: #79c8c7;
$clr5: #002529;
$clr6: #012f34;
$clr7: white;
$clr8: #c4fffe;
$clr9: #004047;


// Breakpoints

$mobile-breakpoint: 375px;

$narrow-breakpoint: 768px;

$normal-breakpoint: 1440px;

