// Colors
$clr1: #014e56;
$clr2: #f67e7e;
$clr3: #2c6269;
$clr4: #79c8c7;
$clr5: #002529;
$clr6: #012f34;
$clr7: white;
$clr8: #c4fffe;
$clr9: #004047;


// // Breakpoints
// // screen max:550px (- 24px margins):
// $small-mobile-breakpoint: 550px;

// // screen max:740px (- 24px margins):
// $mobile-breakpoint: 744px;

// // screen max:950px (- 40px margins):
// $narrow-breakpoint: 950px;

// // screen max:1127px (- 40px margins):
// $normal-breakpoint: 1127px;

// // screen max:1440px (- 40px margins):
// $wide-breakpoint: 1440px;

// // screen min: 1440px (80px margins).
